<layout name="Common/layout" />
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <link rel="shortcut icon" href="/favicon.ico" />
     <title>文章标题|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page">
  <include file="Application/Home/View/Common/nav_block.html" />
  <include file="Application/Home/View/Common/menu_block.html" />
  <div style="height:100px"></div>
  <div class="container">
      <h2>The Bouqs Company</h2>
      <div>
          <p>John is passionate about disruptive businesses, cool brands, and showing love to the important people in his life. The Bouqs Company is a combination of those things, and he is thrilled to bring it to you and yours. Prior to Founding The Bouqs, John worked in strategy consulting at Bain & Company, followed by marketing strategy for brands including Disney, ESPN, ABC, Marvel, ShoeDazzle and Gerber Baby. John received his BS in Finance from the University of Notre Dame and his MBA from UCLA Anderson. You can reach John with questions, comments or suggestions @JohnGTabis. But be careful, the guy can be chatty...</p>
      </div>
  </div>
  <include file="Application/Home/View/Common/foot_block.html" />
     <script src="__PUBLIC__/Home/js/custom.js"></script>
     <script src="__PUBLIC__/Home/js/nocache.js"></script>
</body>
