<layout name="Common/layout" />
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <link rel="shortcut icon" href="/favicon.ico" />
     <title><?php print $faq['article_title']; ?>|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/faq.css"/>
     <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page faq">
  <include file="Application/Home/View/Common/nav_block.html" />
  <include file="Application/Home/View/Common/menu_block.html" />
  <div style="height:100px"></div>
  <div class="container">
      <h2><?php print $faq['article_title']; ?></h2>
      <div style='width:100%;'><a href="/product/select_list"><img style="width:100%;" src="<?php echo C('IMAGE_CONFIG')['viewPath'].$faq['banner_image']; ?>" /></a></div>
      <div class="section-tree col-md-8 col-sm-8">        
        <?php print $faq['article_body']; ?>
      </div>
      
     <div class="category-sidebar col-md-4 col-sm-4">
      <aside class="topics-sidebar">
        <ul class="topics-list">
          <?php foreach($all_faq as $k=>$v): ?>
          <li><a class="button -tertiary -size-md -full-width " href="/article/faq/id/<?php print $v['id']; ?>"><?php print $v['article_title']; ?></a></li>
          <?php endforeach; ?>
        </ul>
        </aside>
      </div>
  </div>
  <include file="Application/Home/View/Common/foot_block.html" />
     <script src="__PUBLIC__/Home/js/custom.js"></script>
     <script src="__PUBLIC__/Home/js/nocache.js"></script>
     <script src="__PUBLIC__/Home/js/faq.js"></script>
</body>
