<layout name="Common/layout" />
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <link rel="shortcut icon" href="/favicon.ico" />
     <title>文章标题|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/faq.css"/>
     <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page faq">
  <include file="Application/Home/View/Common/nav_block.html" />
  <include file="Application/Home/View/Common/menu_block.html" />
  <div style="height:100px"></div>
  <div class="container">
      <h2>SHIPPING & DELIVERY</h2>
      <div class="section-tree col-md-8 col-sm-8">        
        <section class="section">
          <ul class="article-list ui-accordion ui-widget ui-helper-reset" role="tablist">
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I USE THE FEDEX DELIVERY MANAGER?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true">
                <p>Since we work with FedEx to deliver most of our farm-fresh Bouqs, signing up for the FedEx Delivery Manager is a help...</p>
              </div>
            </li>
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I TRACK MY DELIVERY?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                <p>With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...,With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...</p>
              </div>
            </li>
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I TRACK MY DELIVERY?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                <p>With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...</p>
              </div>
            </li>
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I TRACK MY DELIVERY?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                <p>With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...</p>
              </div>
            </li>
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I TRACK MY DELIVERY?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                <p>With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...</p>
              </div>
            </li>
            <li class="article article-list-item">
              <h4 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                  <a href="javascript:void();" class="article-list-link"><span class="faq-show-icon glyphicon glyphicon-triangle-top"></span>HOW CAN I TRACK MY DELIVERY?</a></h4>
              <div class="article-description ui-accordion-content ui-corner-bottom ui-helper-reset ui-widget-content" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                <p>With a Bouqs account, you can track your Bouq in your Order History by clicking on the “Track Order” button next to i...</p>
              </div>
            </li>
           </ul>
        </section>        
      </div>
      
     <div class="category-sidebar col-md-4 col-sm-4">
      <aside class="topics-sidebar">
        <ul class="topics-list">
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000104873-Where-s-My-Bouq">Shipping &amp; Delivery</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://help.bouqs.com/hc/en-us/categories/115000510833-HOLIDAY-SEASONAL&quot;">Holiday/Seasonal</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://help.bouqs.com/hc/en-us/categories/115000510813-PROMOTIONS-REFERRALS-">Promotions &amp; Referrals</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000104893-Editing-Cancelling-Orders">My Orders</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000105874-Our-Flowers">Flower Care &amp; Quality</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000105894-My-Account-Order-History">My Account</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://help.bouqs.com/hc/en-us/categories/115000105854-PAYMENT-GIFT-CARDS">Payment &amp; Giftcards
          </a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000104953-What-is-a-Bouq-">General</a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000104973-Subscriptions">Subscription
          </a></li>
          <li><a class="button -tertiary -size-md -full-width " href="https://thebouqs.zendesk.com/hc/en-us/categories/115000104993-Happiness-Guarantee">Happiness Guarantee</a></li>
            <li><a class="button -tertiary -size-md -full-width " href="https://help.bouqs.com/hc/en-us/categories/115000504674-SUSTAINABILITY-MISSION">Sustainability</a></li>
          <li>                <a class="button -primary -size-lg -full-width" href="https://help.bouqs.com/hc/en-us/requests/new">Contact Us</a>
          </li>
        </ul>
        </aside>
      </div>
  </div>
  <include file="Application/Home/View/Common/foot_block.html" />
     <script src="__PUBLIC__/Home/js/custom.js"></script>
     <script src="__PUBLIC__/Home/js/nocache.js"></script>
     <script src="__PUBLIC__/Home/js/faq.js"></script>
</body>
