<layout name="Common/layout" />
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <link rel="shortcut icon" href="/favicon.ico" />
     <title>文章标题|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/helpcenter.css"/>
     <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page">
  <include file="Application/Home/View/Common/nav_block.html" />
  <include file="Application/Home/View/Common/menu_block.html" />
  <div style="height:100px"></div>
  <div class="container helpercenter">
      <h2 class="helpcenter-title">Helpful Topics</h2>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-plane"></span> 
              <h4 class="blocks-item-title">SHIPPING &amp; DELIVERY</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-credit-card"></span> 
              <h4 class="blocks-item-title">PAYMENT & GIFT CARDS</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-comment"></span> 
              <h4 class="blocks-item-title">PROMOTIONS & REFERRALS</h4>
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-calendar"></span> 
              <h4 class="blocks-item-title">SUBSCRIPTIONS</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-sunglasses"></span> 
              <h4 class="blocks-item-title">HOLIDAY/SEASONAL</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-grain"></span> 
              <h4 class="blocks-item-title">FLOWER CARE & QUALITY</h4>
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-list-alt"></span> 
              <h4 class="blocks-item-title">MY ORDERS</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-user"></span> 
              <h4 class="blocks-item-title">MY ACCOUNT </h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-map-marker"></span> 
              <h4 class="blocks-item-title">Location</h4>
            </a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-question-sign"></span> 
              <h4 class="blocks-item-title">GENERAL</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-heart"></span> 
              <h4 class="blocks-item-title">HAPPINESS GUARANTEE</h4>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <a href="#hc/en-us/categories/115000104873-SHIPPING-DELIVERY" class="blocks-item-link">
              <span class="glyphicon glyphicon-earphone"></span> 
              <h4 class="blocks-item-title">Contact Us</h4>
            </a>
          </div>
      </div>
  </div>
  <include file="Application/Home/View/Common/foot_block.html" />
     <script src="__PUBLIC__/Home/js/custom.js"></script>
     <script src="__PUBLIC__/Home/js/nocache.js"></script>
</body>
