<layout name="Common/layout" />
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">用户列表</h2>
       <?php print check_permission_view("__CONTROLLER__/user_add","添加用户",'fr top_rt_btn add_icon'); ?>
      </div>
     <form class="mtb" action="__ACTION__" method="GET">
         <input name="keyword" type="text" class="textbox textbox_225" placeholder="输入用户关键词..." <?php if(!empty($filter_selection['user_info'])): ?><?php $value = $filter_selection['user_info']; echo "value='$value'"; ?><?php endif; ?>/>
       <input type="submit" value="查询" class="group_btn"/>
      </form>
      <table class="table">
       <tr>
        <th>用户名</th>
        <th>用户邮箱</th>
        <th>Open ID</th>
        <th>用户联系方式</th>
        <th>用户账号状态</th>
        <th>注册/修改时间</th>
        <th>操作</th>
       </tr>
       <?php foreach($users as $k=>$value): ?>
       <tr>
        <td class="center"><?php echo $value['user_name'];  ?></td>
        <td class="center"><?php echo $value['user_email'];  ?></td>
        <td class="center"><?php echo $value['open_id'];  ?></td>
        <td class="center"><?php echo $value['user_telephone'];  ?></td>
        <td class="center"><?php echo user_status_label($value['user_status']);  ?></td>
         <td class="center"><?php echo $value['regist_time'];  ?></td>
        <td class="center">
         <a href="http://www.mycodes.net" title="预览" class="link_icon" target="_blank">&#118;</a>
         <?php print check_permission_view("__CONTROLLER__/update/id/".$value['user_id'],"&#101;",'link_icon','编辑'); ?>
         <img style="width: 60px;height: 60px;display: none;" class="delete-processing" src="__PUBLIC__/Admin/images/icon/timg.gif" />
        </td>
       </tr>
       <?php endforeach; ?>
      </table>
      <aside class="paging">
      <?php echo $page; ?>
      </aside>
 </div>
</section>

