<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="__MODULE__/Index/index">起始页</a></h2>
 <ul class="left-side-menu">
  <li>
   <dl>
    <dt>商品管理</dt>
    <!--当前链接则添加class:active-->
    <dd><?php print check_permission_view("__MODULE__/Product/product_list","商品列表"); ?></dd>
    <dd><?php print check_permission_view("__MODULE__/Product/add","商品添加"); ?></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>图片区块管理</dt>
    <dd><?php print check_permission_view("__MODULE__/Block/block_list","图片区块列表"); ?></dd>
    <dd><?php print check_permission_view("__MODULE__/Block/add","图片区块添加"); ?></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><?php print check_permission_view("__MODULE__/User/user_list","会员列表"); ?></dd>
    <dd><?php print check_permission_view("__MODULE__/User/user_add","添加会员"); ?></dd>
   </dl>
  </li>
   <li>
   <dl>
    <dt>角色管理</dt>
    <dd><?php print check_permission_view("__MODULE__/Role/role_list","角色列表"); ?></dd>
    <dd><?php print check_permission_view("__MODULE__/Role/add","添加角色"); ?></dd>
   </dl>
  </li>
   <li>
   <dl>
    <dt>权限管理</dt>
    <dd><?php print check_permission_view("__MODULE__/Permission/permission_list","权限列表"); ?></dd>
    <dd><?php print check_permission_view("__MODULE__/Permission/add","添加权限"); ?></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>基础设置</dt>
    <dd><a href="setting.html">站点基础设置示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>在线统计</dt>
    <dd><a href="discharge_statistic.html">流量统计</a></dd>
    <dd><a href="sales_volume.html">销售额统计</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>