<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="index.html">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>商品管理</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="__MODULE__/Product/product_list">商品列表</a></dd>
    <dd><a href="__MODULE__/Product/add">商品添加</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>图片区块管理</dt>
    <dd><a href="__MODULE__/Block/block_list">图片区块列表</a></dd>
    <dd><a href="__MODULE__/Block/add">图片区块添加</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>会员管理</dt>
    <dd><a href="__MODULE__/User/user_list">会员列表</a></dd>
    <dd><a href="__MODULE__/User/user_add">添加会员</a></dd>
   </dl>
  </li>
   <li>
   <dl>
    <dt>角色管理</dt>
    <dd><a href="__MODULE__/Role/role_list">角色列表</a></dd>
    <dd><a href="__MODULE__/Role/add">添加角色</a></dd>
   </dl>
  </li>
   <li>
   <dl>
    <dt>权限管理</dt>
    <dd><a href="__MODULE__/Permission/Permission_list">权限列表</a></dd>
    <dd><a href="__MODULE__/Permission/add">添加权限</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>基础设置</dt>
    <dd><a href="setting.html">站点基础设置示例</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>在线统计</dt>
    <dd><a href="discharge_statistic.html">流量统计</a></dd>
    <dd><a href="sales_volume.html">销售额统计</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>