@charset "UTF-8";
/*product varient detail admin page css*/
a.add_more_image {
    cursor: pointer;
    display:inline-block;
    width: 20%;
    height: 30px;
    background-color: #0c9c6e;
    color:#fff;
    line-height: 30px;
    text-align: center;
}
.image-remove {
    cursor: pointer;
}
/*product varient list page pager css*/
.paging div {
    text-align: center;
}
.num {
    border: none;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.current {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 25px;
    line-height: 25px;
    border: none;
    width: 25.6px;
    background-color: #0069ff66;
    border-radius: 3px;
    color: #fff;
}
.prev , .next {
    border: none;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width:60px;
}
.select {
    width:150px;
    text-align: center;
}
.role-list {
    width: 380px;
    padding-left: 50px;
}
.role-list span {
    display:inline-block;
    width:150px;
    height:35px;
    
}
.permission-list {
    width: 96.5%;
    padding-left: 3%;
    border: 1px solid #b3adad;
    border-radius: 3px;
    margin-bottom: 50px;
}
.permission-list p {
    line-height: 35px;
    height: 35px;
}
.permission-list .permission_name {
    display: inline-block;
    width: 77%;
    cursor: pointer;
}
.permission-list .permission_description {
    border-bottom: 1px solid #dad4d4;
    margin-right: 50px;
    height: 70px;
    display: none;
}

.permission-form ul {
    border: 1px solid #c4c1c1;
}
.permission-row {
    border-bottom: 1px solid #d0cdcd;
    width: 96%;
}