<!--flow 查看提交订单的头-->
  <div class="container-fluid flow-top-banner">
      <div class="col-md-1 col-sm-2 col-xs-3 checkout-help-link"><a class="utility-nav__item-node" href="/product/select_list">精品店</a></div>
    <div class="page-header page-header--checkout col-md-10 col-sm-8 col-xs-6">
      <div class="page-header__logo">
          <a rel="home" class="page-header__logo-link" href="/"><img src="__PUBLIC__/Home/images/lovgarden_logo.png" /></a>
      </div>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3 checkout-help-link">
       <a class="utility-nav__item-node" href="/article/helpcenter">帮助中心</a>
    </div>
  </div>