<div class="feedback-box">
  <div class="content" style="border-color: orange;"> <a class='message_bar_close' href="javascript:void(0);" style="text-decoration: none;">X</a>
    <div class="confirm">
      <h1><span class="glyphicon glyphicon-envelope"></span> <strong>BOOOM!</strong> <span>花点馨思会尽快反馈</span></h1>
    </div>
    <header>花点馨思留言板</header>
    <section class="message-bar" style="padding-top: 0;margin-right: 0px;">
      <p class="error-message"></p>
      
      <input  class="control tel-input" type="tel" name="user_tel" placeholder="请输入您的联系方式" />
      <textarea style="z-index: 0;width: 99%;margin-bottom: 12px;font-size: 16px;line-height: 1.5;resize: none;color: #333;border: 1px solid #ddd; padding:1px;height: 150px;" class="control" name="feedback" placeholder="请输入您的留言，如果您想要更好的咨询体验，可以点击页面底部的QQ按钮或者拨打18657477265和15168188557"></textarea>
      <button id='submit' style="background-color: orange;border: 1px solid orange;color: #fff;cursor: pointer;">提交您的留言</button>      
    </section>
  </div>
</div>
<button id="feedback" style="border-radius: 25px;"><span class="glyphicon glyphicon-envelope send-message-icon"></span>想留言点这里</button>
<link rel="stylesheet" href="__PUBLIC__/Home/css/message-bar.css"/>
<script src="__PUBLIC__/Home/js/message-bar.js"></script>