<nav class="fixed-top">
    <div class="navbar-desktop">
        <ul> 
            <li id="shop-market" class="shop"><a href="#home">精品店</a>
                
            </li>
            <li id="shop-feature" class="shop"><a href="#bbs">花苑特色</a></li>
            <li id="shop-brief" class="shop"><a href="#html5">花苑介绍</a></li>
            <li id="logo" class="shop"><a href="#course"><img src="__PUBLIC__/Home/images/lovgarden.svg"></a></li>
            <li id="help" class="shop"><a href="#app">帮助</a></li>
            <li id="login" class="shop"><a href="#contact"><span class="glyphicon glyphicon-user"></span></a></li>
            <li id="cart" class="shop"><a href="#contact"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
        </ul>
   </div>

   <div class="navbar-mobile"> 
     <div class="container">
       <div class="col-xs-3 shop-mobile menu-list-mobile">         
           <a><span class="glyphicon glyphicon-menu-hamburger mobile-menu-show"></span></a> 
       </div>
       <div class="col-xs-6 shop-mobile logo-mobile">
           <a href="#course"><img src="__PUBLIC__/Home/images/lovgarden.svg"></a>
       </div>
       <div class="col-xs-3 shop-mobile cart-mobile">
           <a href="#contact"><span class="glyphicon glyphicon-shopping-cart"></span></a>
       </div> 
     </div>    
   </div>
  </nav>