   <div class="press-wrap container">
   	<div class="col-md-3 col-sm-3 wow zoomIn" data-wow-offset="30">
		  <a href="https://bouqs.com/pages/press" class="press-logo press-oprah"></a>
	  </div>
	  <div class="col-md-3 col-sm-3 wow zoomIn" data-wow-offset="30">
		  <a href="https://bouqs.com/pages/press" class="press-logo press-oprah"></a>
	  </div>
	  <div class="col-md-3 col-sm-3 wow zoomIn" data-wow-offset="30">
		  <a href="https://bouqs.com/pages/press" class="press-logo press-oprah"></a>
	  </div>
	  <div class="col-md-3 col-sm-3 wow zoomIn" data-wow-offset="30">
		  <a href="https://bouqs.com/pages/press" class="press-logo press-oprah"></a>
	  </div>
   </div>