<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <title>忘记密码|花点馨思</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-maizi.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/login.css"/>
     <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page reset-password-page">
<include file="Application/Home/View/Common/nav_block.html" />
<include file="Application/Home/View/Common/menu_block.html" />
  <div class="header-gap"></div>
  <div class="container-fluid singup-block" style="display: block;background-size: cover;background-image: url(__PUBLIC__/Home/images/orange-rose2.jpg);">
  	  <h1 class="reset-account__heading">
		<span class="heading-1" style="color: #fff;">重置您的密码</span>
	  </h1>
          <div class="col-md-4 col-sm-4"></div>
	  <div class="login-create-account__header col-md-4 col-sm-4 col-xs-12">
              <form id="reset_password_form" class="login-create-account__form" action="__SELF__" method="POST">
           <!--<input type="hidden" name="return_to" id="signup_return_to">-->
           <div class="server-callback-error">
               <p style="color: #fff"><?php print $error_message; ?></p>
           </div>
           <div class="property">
              <div class="value">
                  <input class="form-control" type="text" name="telephone" id="reset_password_telephone" placeholder="手机号码" autocomplete="on">
              </div>
              <span id="telephone-error" style="display: none; color: #fff;"></span>
           </div>
           <div class="property">             
              <div class="value">
                  <input type="password" name="password" id="reset_password" class="form-control text-box text-box--full-width"  placeholder="新的密码" autocomplete="off">
              </div>
              <span id="password-error" style="display: none; color: #fff;"></span>
           </div>
           
           <div class="property">             
              <div class="value">
                  <input type="password" name="repassword" id="reset_repassword" class="form-control text-box text-box--full-width"  placeholder="确认密码" autocomplete="off">
              </div>
              <span id="repassword-error" style="display: none; color: #fff;"></span>
           </div>
           
           <div class="auth-code auth-code-box">
              <div class="verification-input">
                  <div class="form-item form-item-auth-code form-type-textfield"><input placeholder="请输入手机验证码" class="form-control" autocomplete="off" type="text" id="edit-auth-code" name="auth_code" value="" size="60" maxlength="128"></div>
              </div>
              <div class="verification-get">
                 <input class="btn getCode" value="获取验证码" type="button">
              </div>
               <p id="verify-code-error" style="display: none; color: #fff; clear: both;"></p>
          </div>
           <p style="margin-top: 3px;"><button type="submit" class="btn button button--full-width login-submmit-button">修改密码</button></p>
           </form>	             
      </div>
      <div class="col-md-4 col-sm-4"></div>
  </div>
  
   <!--block 底座-->
   <include file="Application/Home/View/Common/foot_block.html" />
    <script src="__PUBLIC__/Home/js/jquery.singlePageNav.min.js"></script>
    <script src="__PUBLIC__/Home/js/wow.min.js"></script> 
    <script src="__PUBLIC__/Home/js/custom.js"></script>
    <script src="__PUBLIC__/Home/js/validator.js"></script>
</body>
</html>