<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <title>用户订单详情|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>         
     <link rel="stylesheet" href="__PUBLIC__/Home/css/flow.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/user_order_detail.css"/>
</head>
<body class="page">
<include file="Application/Home/View/Common/nav_block.html" />
<include file="Application/Home/View/Common/menu_block.html" />
  <div class="header-gap"></div>
  

  <div class="container checkout-order-content">
    <h3 class="check-before-next-title">订单详情</h3>
    <p class="check-before-next-brief">订单只在提交后的一天内有效哦，请尽快完成支付(已支付的请忽略此信息)</p>
    <!--订单详情-->
    <div class="row-order-info">
        <div class="col-md-4 col-sm-4">
            <span>订单编号:<?php print $order_info['order_id']; ?></span>
        </div>
        <div class="col-md-4 col-sm-4">
            <span>收货人姓名:<?php print $order_info['first_name'].$order_info['last_name']; ?></span>
        </div>
        <div class="col-md-4 col-sm-4">
            <span>收货人电话:<?php print $order_info['telephone']; ?></span>
        </div>
    </div>
    <div class="row-order-info">
        <div class="col-md-4 col-sm-4">
            <span>创建时间:<?php print $order_info['order_create_time']; ?></span>
        </div>
        <div class="col-md-4 col-sm-4">
            <span>订单状态:<?php print get_order_status_label($order_info['order_status']); ?></span>
        </div>
        <div class="col-md-4 col-sm-4">
            <span>邮编:<?php print $order_info['post_code']; ?></span>
        </div>
    </div>
    <div class="row-order-info">
        <div class="col-md-12">
            <span>收获地址:<?php print $order_info['area'].$order_info['address']; ?></span>
        </div>
    </div>
    <div class="row-order-info">
        <div class="col-md-12">
            <span>备注(贺卡):<?php print $order_info['content_body']; ?></span>
        </div>
    </div>
    
    <h3 class="products-list-flow2">商品列表</h3>
    <?php foreach($order_products_fix as $k => $v): ?>
    <div class="row each-product">
      <div class="product-small-img col-md-3 col-sm-3 col-xs-4">
          <img style="width: 110px;height: 110px;" src="<?php print C('IMAGE_CONFIG')['viewPath'].$v['image_url'][0];  ?>">
      </div>
      <div class="product-title-info product-title-info-title col-md-2 col-sm-2 col-xs-4">
        <p><span class="ceil"><?php print $v['varient_name']; ?></span></p>
      </div>
      <div class="product-title-info decoration-level-status col-md-1 col-sm-1 col-xs-4">
        <p><span class="ceil checkout-decoration-value"><?php print product_varient_decoration_level($v['decoration_level']);  ?></span></p>
      </div>
      <div class="product-title-info input-select-vase-status col-md-2 col-sm-2 col-xs-4">        
         <p><span class="ceil checkout-vase-status"><?php print get_vase_label($v['vase_option']); ?></span></p>
      </div>
      <div class="flow-check-date-value col-md-2 col-sm-2 col-xs-4">
          <p><span class="ceil checkout-date-value"><?php print date("Y-m-d",strtotime($v['deliver_time'])); ?></span></p>
      </div>
      <div class="flow-check-each-price col-md-1 col-sm-1 col-xs-4">
          <p><span class="ceil">价格<br/><?php print number_format($v['varient_price']); ?>元</span></p>
      </div>
    </div>
    <?php endforeach; ?>
    <div class="row total-price-list">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <p class="coupin-code-info">优惠码号：<?php if(!empty($order_info['order_coupon_code'])){ print $order_info['order_coupon_code'];}else{print '无';} ?></p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 price-list-mobile">
        <table class="total-price table table--totals">
          <tbody>
          <tr>
            <th>
              <span>花瓶价格总和:</span>
            </th>
            <td>
              <span class="vase_total_cost"><?php print $order_info['order_vases_price']; ?></span><span>元</span>
            </td>
          </tr>
          <tr>
            <th>
              <span>商品价格总和:</span>
            </th>
            <td>
                <span class="products_total_cost"><?php print $order_info['order_products_total_price']; ?></span><span>元</span>
            </td>
          </tr>
          <tr>
            <th>
              <span>优惠券</span>
            </th>
            <td>
                <span class="cut_total_cost">-<?php print $order_info['order_coupon_cut']; ?></span><span>元</span>
            </td>
          </tr>
          <tr>
            <th class="checkout-step-summary__login-free-delivery-cell">
              <span>运费:</span>
            </th>
            <td>
                <span class="deliver_cost"><?php print $order_info['order_deliver_price']; ?></span><span>元</span>
            </td>
          </tr>
          <tr class="table__total">
            <th>
              <span>最终价格:</span>
            </th>
            <td><span class="total-price-value"><?php print $order_info['order_final_price']; ?></span><span>元</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div> 
    
    <div class="row checkout-button">
      <a href="javascript:void(0);" class="checkout-to-flow3">去支付</a>
    </div>
  </div>
  <include file="Application/Home/View/Common/foot_block.html" />  
    <script src="__PUBLIC__/Home/js/custom.js"></script>   
</body>
</html>