<layout name="Common/layout" />
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品列表</h2>
       <?php print check_permission_view("__CONTROLLER__/add","添加商品",'fr top_rt_btn add_icon'); ?>
      </div>
     <form class="mtb" action="__ACTION__" method="GET">
       <select class="select" name='varient_status'>
        <option value='all'>商品状态</option>
        <option value='1' <?php if($filter_selection['varient_status'] == '1'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>上架</option>
        <option value="2" <?php if($filter_selection['varient_status'] == '2'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>下架</option>
        <option value="3" <?php if($filter_selection['varient_status'] == '3'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>删除</option>
       </select>
       <select class="select" name='vase'>
        <option value='all'>是否可配花瓶</option>
        <option value="1" <?php if($filter_selection['vase'] === '1'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>有花瓶</option>
        <option value="0" <?php if($filter_selection['vase'] === '0'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>无花瓶</option>
       </select>
       <select class="select" name='decoration_level'>
        <option value='all'>配花程度</option>
        <option value="1" <?php if($filter_selection['decoration_level'] === '1'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>适中</option>
        <option value="2" <?php if($filter_selection['decoration_level'] === '2'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>奢侈</option>
        <option value="3" <?php if($filter_selection['decoration_level'] === '3'): ?><?php echo "selected='selected'"; ?><?php endif; ?>>豪华</option>
       </select>
         <input name="varient_name_or_sku_id" type="text" class="textbox textbox_225" placeholder="输入产品关键词或产品编号..." <?php if(!empty($filter_selection['varient_name_or_sku_id'])): ?><?php $value = $filter_selection['varient_name_or_sku_id']; echo "value='$value'"; ?><?php endif; ?>/>
       <input type="submit" value="查询" class="group_btn"/>
      </form>
      <table class="table">
       <tr>
        <th>缩略图</th>
        <th>产品名称</th>
        <th>产品编号</th>
        <th>单价</th>
        <th>状态</th>
        <th>配花程度</th>
        <th>花瓶</th>
        <th>操作</th>
       </tr>
       <?php foreach($product_varients as $k=>$value): ?>
       <tr>
           <td class="center"><img src="<?php echo C('IMAGE_CONFIG')['viewPath'].$value['image_url']; ?>" width="50px" height="50px"/></td>
        <td><?php echo $value['varient_name'];  ?></td>
        <td class="center"><?php echo $value['sku_id'];  ?></td>
        <td class="center"><?php echo $value['varient_price'];  ?></td>
        <td class="center"><?php echo product_varient_status($value['varient_status']);  ?></td>
        <td class="center"><?php echo product_varient_decoration_level($value['decoration_level']);  ?></td>
        <td class="center"><?php echo product_varient_vase_attach($value['vase']);  ?></td>
        <td class="center">
         <a href="http://www.mycodes.net" title="预览" class="link_icon" target="_blank">&#118;</a>
         <?php print check_permission_view("__CONTROLLER__/update/id/".$value['id'],"&#101;",'link_icon','编辑'); ?>
        </td>
       </tr>
       <?php endforeach; ?>
      </table>
      <aside class="paging">
      <?php echo $page; ?>
      </aside>
 </div>
</section>

