<layout name="Common/layout" />
<section class="rt_wrap content mCustomScrollbar section-product-detail">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品添加</h2>
       <?php print check_permission_view("__CONTROLLER__/product_list","返回产品列表",'fr top_rt_btn'); ?>
      </div>
     <section>
         <?php if(isset($errorMessage)): ?>
         <p style='color: red;'><?php echo $errorMessage; ?></p>
         <?php endif; ?>
         <form enctype="multipart/form-data" action="__SELF__" method="post">
                    <ul class="ulColumn2">
                     <li>
                      <span class="item_name" style="width:120px;">商品货号：</span>
                      
                      <input type="text" name="sku_id" class="textbox" placeholder="商品编号..." value="<?php echo $data['sku_id'];  ?>"  />
                     </li>
                     <li>
                      <span class="item_name" style="width:120px;">商品名称：</span>
                      <input type="text" name="varient_name" class="textbox" placeholder="商品名称" value="<?php echo $data['varient_name'];  ?>" />
                     </li>
                     <li>
                      <span class="item_name" style="width:120px;">商品简要：</span>
                      <input type="text" name="varient_summary" class="textbox" placeholder="商品简要" value="<?php echo $data['varient_summary'];  ?>" />
                     </li>
                     <li>
                      <span class="item_name" style="width:120px;">商品价格：</span>
                      <input type="text" name="varient_price" class="textbox" placeholder="商品价格"  value="<?php echo $data['varient_price'];  ?>" />
                     </li>
                     <li>
                      
                     
   
                       

                     </li>
                     <li>
                      <span class="item_name" style="width:120px;">商品状态：</span>
                      <label class="single_selection"><input type="radio" name="varient_status" value="1" <?php if($data['varient_status'] == '1'): ?><?php echo 'checked="checked"'; ?><?php endif; ?> />上架</label>
                      <label class="single_selection"><input type="radio" name="varient_status" value="2" <?php if($data['varient_status'] == '2'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>下架</label>
                      <label class="single_selection"><input type="radio" name="varient_status" value="3" <?php if($data['varient_status'] == '3'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>删除</label>
                     </li>
                     <li>
                      <span class="item_name" style="width:120px;">配花程度：</span>
                      <label class="single_selection"><input type="radio" name="decoration_level" value="1" <?php if($data['decoration_level'] == '1'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>适中</label>
                      <label class="single_selection"><input type="radio" name="decoration_level" value="2" <?php if($data['decoration_level'] == '2'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>奢侈</label>
                      <label class="single_selection"><input type="radio" name="decoration_level" value="3" <?php if($data['decoration_level'] == '3'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>豪华</label>
                     </li>
                     
                      <li>
                      <span class="item_name" style="width:120px;">款式中是否有花瓶：</span>
                      <label class="single_selection"><input type="radio" name="vase" value="0" <?php if($data['vase'] == '0'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>没有花瓶</label>
                      <label class="single_selection"><input type="radio" name="vase" value="1" <?php if($data['vase'] == '1'): ?><?php echo 'checked="checked"'; ?><?php endif; ?>/>有花瓶</label>
                     </li>
                     
                     <li>
                         <span class="item_name" style="width: 120px">包含颜色</span>
                         <?php print buildMultipleHtmlSelect('lovgarden_flower_color','id','flower_color','flower_color',$multipleSelectData['flower_color']) ?>
                     </li>
                     <li>
                         <span class="item_name" style="width: 120px">可配送缓急</span>
                         <?php print buildMultipleHtmlSelect('lovgarden_hurry_level','id','hurry_level','hurry_level',$multipleSelectData['hurry_level']) ?>
                     </li>
                     <li>
                         <span class="item_name" style="width: 120px">花卉品种</span>
                         <?php print buildMultipleHtmlSelect('lovgarden_flower_type','id','flower_name','flower_name',$multipleSelectData['flower_name']) ?>
                     </li>
                     <li>
                         <span class="item_name" style="width: 120px">花卉产地</span>
                         <?php print buildMultipleHtmlSelect('lovgarden_flower_home','id','flower_home','flower_home',$multipleSelectData['flower_home']) ?>
                     </li>
                     <li>
                         <span class="item_name" style="width: 120px">用花场合</span>
                         <?php print buildMultipleHtmlSelect('lovgarden_flower_occasion','id','flower_occasion','flower_occasion',$multipleSelectData['flower_occasion']) ?>
                     </li>
                     <li class="multiple-images">
                      <span class="item_name" style="width:120px;">上传图片：</span>
                      <span class="image-remove">[删除]</span>
                      <label class="nouploadImg">
                       <input name="product_varient_images[]" type="file"/>
                      </label>
                     </li>
                     <li><p><a class="add_more_image">继续添加图片</a></p></li>
                     <li>
                     </li>
                    </ul>
                      <span class="item_name" style="width:120px;">商品详细描述：</span>
                      <textarea id="editor" name="varient_body"><?php echo $data['varient_body'];  ?></textarea>
                    <div><input type="submit" class="link_btn"/></div>
         </form>
     </section>
 </div>
</section>
