<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <title>丽de花苑</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/nice-select.css">
     <link rel="stylesheet" href="__PUBLIC__/Home/css/datepicker.css">
     <link rel="stylesheet" href="__PUBLIC__/Home/css/flow.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.nice-select.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap-datepicker.js">"></script>
     <script src="__PUBLIC__/Home/js/locales/bootstrap-datepicker.zh-CN.js"></script>
</head>
<body class="page">
  <include file="Application/Home/View/Common/flow_header.html" />    
  <div>
      <h2 class="empty-suggest">您的购物车空空如也，先去<br/><a href="/product/select_list">逛一下</a>吧</h2>
      <p class="empty-icon"><img src='__PUBLIC__/Home/images/emptyCart.png' /></p> 
  </div>
</body>
</html>