<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
     <title>订单提交完成|花点馨思(丽de花苑)</title>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap-maizi.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
     <link rel="stylesheet" href="__PUBLIC__/Home/css/flow.css"/>
     <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/Home/js/jquery.cookie.js"></script>
</head>
<body class="page">
   <include file="Application/Home/View/Common/nav_block.html" />
   <include file="Application/Home/View/Common/menu_block.html" />
   <div style="height: 100px;"></div>
   <div class="flow3-background">
     <div class="flow3-success-message order-response-block">
       <p class="order-response"><span class="glyphicon glyphicon-ok ok-icon"></span><?php print translate_status_label($status);?></p>
       <p class="alipay-button"><a href="/">去付款</a></p>
     </div>
     <img src="__PUBLIC__/Home/images/flow/order_background.jpg" style="width: 100%;">
   </div>

  

   <!--block 底座-->
   <include file="Application/Home/View/Common/foot_block.html" />
   <script src="__PUBLIC__/Home/js/custom.js"></script>
   <script src="__PUBLIC__/Home/js/nocache.js"></script>
</body>
</html>